@charset 'utf-8';

$_base-font-size-px: 16px !default;
$_half-leading: .4 !default;

@import '../../node_modules/sass-basis/src/css/basis-core';

@function var-color-sub-accent() {
  @return var(--sub-accent-color);
}

[id="drawer-nav"] {
  width: auto !important;
}

.c-dropdown {
  $dropdown-font-size: $_base-font-size-px - 2;

  z-index: 100000;
  background-color: var(--accent-color);
  color: $_color-white;
  @include _font-size-line-height($dropdown-font-size);
  padding-top: 60px;

  a {
    color: inherit;
  }

  .#{ $_prefix }c-ic-angle-right {
    &::before {
      border-color: _var-color-white();
    }
  }

  &__inner {
    @include _padding(0, .5);
  }

  &__toggle {
    > .#{ $_prefix }c-ic-angle-right {
      @include _transition(transform);
      transform-origin: calc(50% + .1em) 50%;
      transform: translateY(0) rotate(90deg);
    }

    &[aria-expanded="true"] {
      > .#{ $_prefix }c-ic-angle-right {
        transform: translateY(0) rotate(-90deg);
      }
    }
  }

  &__menu,
  &__submenu {
    &,
    & > *:not(:first-child) {
      margin-top: 0;
    }
  }

  &__menu {
    @include _padding-top(.25);
    @include _padding-bottom(.25);
  }

  &__item {
    @include _padding(.25, 0);

    &.menu-item-has-children {
      > a {
        @include _margin-right(1);
      }
    }

    &.sm-nav-menu-item-highlight {
      background-color: var-color-sub-accent();
      @include _margin-right(-.5, false);
      @include _margin-left(-.5, false);
      @include _padding-right(.5);
      @include _padding-left(.5);

      &:first-child {
        @include _margin-top(-.25, false);
      }

      &:last-child {
        @include _margin-bottom(-.25, false);
      }
    }
  }

  &__submenu[aria-hidden="false"] {
    @include _margin-top(0.25, false);
    @include _margin-bottom(-.25, false);
  }

  &__subitem {
    @include _padding(.25, 0);

    &.sm-nav-menu-item-highlight {
      background-color: var-color-sub-accent();
      @include _margin-right(-.5, false);
      @include _margin-left(-1, false);
      @include _padding-right(.5);
      @include _padding-left(1);
    }
  }

  &__sub-nav {
    @include _font-size-line-height($_base-font-size-px - 4);

    * + .#{ $_prefix }c-drawer__sub-nav {
      border-top: 1px solid rgba(#fff, .4);
    }

    .#{ $_prefix }c-drawer__submenu {
      @include _margin-right(-.25, false);
    }
  }

  &__controls {
    position: absolute;
    top: 0;
    right: _space(.5, true, false);
    left: _space(.5, true, false);
    @include _padding-top(.25);
    @include _padding-bottom(.25);
    text-align: right;

    &--left {
      padding-right: 0;
      text-align: initial;
    }

    .#{ $_prefix }c-hamburger-btn__bar {
      background-color: #fff;
    }
  }
}
